# <u>Set Data Structure</u>

-  If we want to represent a group of unique values as a single entity then we should go for set.  
-   Duplicates are not allowed.  
-  Insertion order is not preserved.But we can sort the elements.  
-  Indexing and slicing not allowed for the set.  
-  Heterogeneous elements are allowed.  
-  Set objects are mutable i.e once we creates set object we can perform any changes in that object based on our requirement.  
-  We can represent set elements within curly braces and with comma seperation  
-  We can apply mathematical operations like union,intersection,difference etc on set objects.

**<u>Creation of Set objects:</u>**

In [2]:
s={10,20,30,40} 
print(s) 
print(type(s))

{40, 10, 20, 30}
<class 'set'>

We can create set objects by using set() function

s=set(any sequence)

In [6]:
l = [10,20,30,40,10,20,10] 
s=set(l) 
print(s)

{40, 10, 20, 30}

In [7]:
s=set(range(5)) 
print(s)

{0, 1, 2, 3, 4}

Note: While creating empty set we have to take special care.
Compulsory we should use set() function.  

s={} ==>It is treated as dictionary but not empty set.

In [8]:
s={} 
print(s) 
print(type(s))

{}
<class 'dict'>

s=set() 
print(s) 
print(type(s))

<u>Important functions of set:</u>

<u>1.add(x):</u>  

Adds item x to the set

In [12]:
s={10,20,30} 
s.add(40); 
print(s)

{40, 10, 20, 30}

<u>2. update(x,y,z):</u>

To add multiple items to the set.  
Arguments are not individual elements and these are Iterable objects like List,range etc.  
All elements present in the given Iterable objects will be added to the set.

In [13]:
s={10,20,30} 
l=[40,50,60,10] 
s.update(l,range(5)) 
print(s)

{0, 1, 2, 3, 4, 40, 10, 50, 20, 60, 30}

Q. What is the difference between add() and update() functions in set?

We can use add() to add individual item to the Set, where as we can use update() function to add multiple items to Set.  

add() function can take only one argument where as update() function can take any number of arguments but all arguments should be iterable objects.  

Q. Which of the following are valid for set s?  

```
1. s.add(10)
2. s.add(10,20,30) TypeError: add() takes exactly one argument (3 given)
3. s.update(10) TypeError: 'int' object is not iterable
4. s.update(range(1,10,2),range(0,10,2))  
```

<u>3. copy():</u>  
Returns copy of the set.  
It is cloned object.  
```
s={10,20,30}  
s1=s.copy()  
print(s1) 
```

<u>4. pop():</u>  
It removes and returns some random element from the set.

In [15]:
s={40,10,30,20} 
print(s) 
print(s.pop()) 
print(s)

{40, 10, 20, 30}
40
{10, 20, 30}

<u>5. remove(x):</u>   

It removes specified element from the set.   
If the specified element not present in the Set then we will get KeyError

In [1]:
s={40,10,30,20}
s.remove(30)
print(s) 
#s.remove(50)

{40, 10, 20}

<u>6. discard(x):</u>  

It removes the specified element from the set.  
If the specified element not present in the set then we won't get any error.

In [22]:
s={10,20,30}
s.discard(10)
print(s)
s.discard(50)
print(s)

{20, 30}
{20, 30}

Q. What is the difference between remove() and discard() functions in Set?  
Q. Explain differences between pop(),remove() and discard() functionsin Set?

<u>7.clear():</u>  

To remove all elements from the Set.

In [24]:
s={10,20,30} 
print(s) 
s.clear() 
print(s)

{10, 20, 30}
set()

### <u>Mathematical operations on the Set:</u>

<u>1.union():</u>  

x.union(y) ==>We can use this function to return all elements present in both sets  

x.union(y) or x|y  

Eg:

In [25]:
x={10,20,30,40}
y={30,40,50,60}
print(x.union(y)) 
print(x|y)

{40, 10, 50, 20, 60, 30}
{40, 10, 50, 20, 60, 30}

<u>2.intersection():</u> 

x.intersection(y) or x&y  

Returns common elements present in both x and y

In [26]:
x={10,20,30,40}
y={30,40,50,60}
print(x.intersection(y))
print(x&y)

{40, 30}
{40, 30}

<u>3.difference():</u>  

x.difference(y) or x-y  
returns the elements present in x but not in y  

Eg:

In [27]:
x={10,20,30,40}
y={30,40,50,60}
print(x.difference(y)) #{10, 20}
print(x-y) 
print(y-x)

{10, 20}
{10, 20}
{50, 60}

<u>4.symmetric_difference():</u>  

x.symmetric_difference(y) or x^y  

Returns elements present in either x or y but not in both  

Eg:

In [28]:
x={10,20,30,40}
y={30,40,50,60}
print(x.symmetric_difference(y)) 
print(x^y)

{10, 50, 20, 60}
{10, 50, 20, 60}

### <u>Membership operators: (in , not in)</u>

In [40]:
s=set("vishal") 
print(s) 
print('d' in s) 
print('z' in s)

{'a', 'i', 'v', 's', 'l', 'h'}
False
False

**<u>Set Comprehension:</u>**  

Set comprehension is possible.  
```
s={x*x for x in range(5)}
print(s) #{0, 1, 4, 9, 16}  

s={2**x for x in range(2,10,2)}
print(s) #{16, 256, 64, 4}
```

**<u>set objects won't support indexing and slicing:</u>**  
```
s={10,20,30,40}  
print(s[0])     ==>TypeError: 'set' object does not support indexing  
print(s[1:3])    ==>TypeError: 'set' object is not subscriptable
```

<u>Q.Write a program to eliminate duplicates present in the list?</u>

Approach-1:

In [37]:
l=eval(input("Enter List of values: ")) 
s=set(l) 
print(s)

Enter List of values: 10,20,30,10,20,40
{40, 10, 20, 30}

Approach-2:

In [38]:
l=eval(input("Enter List of values: ")) 
l1=[] 
for x in l: 
    if x not in l1: 
        l1.append(x) 
print(l1)

Enter List of values: 10,20,30,10,20,40
[10, 20, 30, 40]

<u>Q. Write a program to print different vowels present in the given word?</u>

In [39]:
w=input("Enter word to search for vowels: ") 
s=set(w) 
v={'a','e','i','o','u'} 
d=s.intersection(v) 
print("The different vowel present in",w,"are",d)

Enter word to search for vowels: vishal
The different vowel present in vishal are {'a', 'i'}